* {
    background: #F0F6F6;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
}

.nav-links li a:hover::before {
    width: 100%;
}

.nav-links li a:hover {
    color: #333;
}

.signup .signup-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.signup .signup-btn:hover {
    background-color: #333;
    color: white;
}

.main-heading {
    color: #243C46;
    text-align: center;
    font-size: 80px;
    margin-top: 55px;
}

.grey-paragraph {
    color: grey;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-lock {
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.box {
    flex: 1;
    height: 0;
}

.left {
    background-color: lightgrey;
    border-radius: 10px 0 0 10px;
}

.right {
    background-color: lightgrey;
    border-radius: 0 10px 10px 0;
}

.earnings {
    text-align: center;
    padding-top: 20px;
}

.earnings-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: lightgray;
    color: #3D5A6A;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.earnings-btn:hover {
    background-color: #3D5A6A;
    color: white;
}

.earnings h1 {
    font-size: 50px;
    color: #243C46;
}

.earnings-text {
    color: grey;
}

.connect-sources {
    text-align: center;
    padding-top: 20px;
}

.connect-header {
    color: #3D5A6A;
}

.toggle-btn {
    background-color: lightgrey;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.toggle-btn:hover {
    background-color: #bbb;
}

.icons img {
    width: 50px;
    margin: 0 10px;
}

.icons1 img {
    width: 50px;
    margin: 0 20px;
}

.download-btn {
    background-color: #3D5A6A;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.download-btn:hover {
    background-color: #243C46;
}

.highlight {
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}
.right img {
    display: block;
    margin: 0px;
    max-width: 100%;
    height: auto;
    text-align: left;
}
.staircase {
    margin-top: 50px;
}

.staircase p {
    color: grey;
    margin: 0;
}



